<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Keyman</title>
</head>

<body>
    <main class="conatiner mx-auto px-5 py-4">
        <h1 class="text-5xl font-bold text-center my-2">Welcome to Keyman</h1>
        <p class="text-lg text-red-500">{{message}}</p>
    </main>
</body>

</html>