<div id="keyword_list" class="m-auto w-full justify-center items-center">
    {% for key in keywords %}
    <span class="badge text-lg justify-center">
        {{ key }}
    </span>
    {% endfor %}
</div>